
.divCont{
    display: flex;
    flex-wrap: wrap;
}

.boxStyle{
    background: cornflowerblue;
    border-radius: 8px;
    width: 145px;
    margin: 19px;
    padding: 10px;
    margin: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: ghostwhite;
}